@import "tailwindcss";
body {
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
}
@media print {
  /* اخفي الصفحة كلها */
  body * {
    visibility: hidden !important;
  }

  /* اظهر الجدول فقط */
  #printable-table, #printable-table * {
    visibility: visible !important;
  }

  /* خلي الجدول ياخد عرض الصفحة */
  #printable-table {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
